<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RootAddress</key>
	<string>http://app.ozner.net:888/</string>
	<key>SubAddress</key>
	<dict>
		<key>Login</key>
		<string>OznerServer/Login</string>
		<key>MailLogin</key>
		<string>OznerServer/MailLogin</string>
		<key>AddDevice</key>
		<string>OznerServer/AddDevice</string>
		<key>GetDeviceList</key>
		<string>OznerServer/GetDeviceList</string>
		<key>UpdateDevice</key>
		<string>OznerServer/UpdateDevice</string>
		<key>DeleteDevice</key>
		<string>OznerServer/DeleteDevice</string>
		<key>VolumeSensor</key>
		<string>OznerDevice/VolumeSensor</string>
		<key>TDSSensor</key>
		<string>OznerDevice/TDSSensor</string>
		<key>FilterService</key>
		<string>OznerDevice/FilterService</string>
		<key>RenewFilterTime</key>
		<string>OznerDevice/RenewFilterTime</string>
		<key>GetWeather</key>
		<string>OznerServer/GetWeather</string>
		<key>GetUserInfo</key>
		<string>OznerServer/GetUserInfo</string>
		<key>UpdateUserInfo</key>
		<string>OznerServer/UpdateUserInfo</string>
		<key>GetUserNickImage</key>
		<string>OznerServer/GetUserNickImage</string>
		<key>GetVoicePhoneCode</key>
		<string>OznerServer/GetVoicePhoneCode</string>
		<key>BaiduPush</key>
		<string>OznerServer/BaiduPush</string>
		<key>SubmitOpinion</key>
		<string>OznerServer/SubmitOpinion</string>
		<key>SearchFriend</key>
		<string>OznerServer/SearchFriend</string>
		<key>AddFriend</key>
		<string>OznerServer/AddFriend</string>
		<key>GetUserVerifMessage</key>
		<string>OznerServer/GetUserVerifMessage</string>
		<key>AcceptUserVerif</key>
		<string>OznerServer/AcceptUserVerif</string>
		<key>GetFriendList</key>
		<string>OznerServer/GetFriendList</string>
		<key>VolumeFriendRank</key>
		<string>OznerDevice/VolumeFriendRank</string>
		<key>LikeOtherUser</key>
		<string>OznerDevice/LikeOtherUser</string>
		<key>GetRankNotify</key>
		<string>OznerDevice/GetRankNotify</string>
		<key>TdsFriendRank</key>
		<string>OznerDevice/TdsFriendRank</string>
		<key>GetHistoryMessage</key>
		<string>OznerDevice/GetHistoryMessage</string>
		<key>LeaveMessage</key>
		<string>OznerDevice/LeaveMessage</string>
		<key>WhoLikeMe</key>
		<string>OznerDevice/WhoLikeMe</string>
		<key>GetDeviceTdsFenBu</key>
		<string>OznerServer/GetDeviceTdsFenBu</string>
		<key>GetMachineLifeOutTime</key>
		<string>OznerDevice/GetMachineLifeOutTime</string>
		<key>GetMachineType</key>
		<string>OznerServer/GetMachineType</string>
		<key>UpdateBuShuiYiNumber</key>
		<string>/OznerDevice/UpdateBuShuiYiNumber</string>
		<key>GetBuShuiFenBu</key>
		<string>/OznerServer/GetBuShuiFenBu</string>
		<key>GetTimesCountBuShui</key>
		<string>/OznerDevice/GetTimesCountBuShui</string>
	</dict>
	<key>TokenFailed</key>
	<string>-1</string>
	<key>ErrorCode</key>
	<dict>
		<key>0</key>
		<string>该工程师没有加入任何团队</string>
	</dict>
	<key>URL</key>
	<dict>
		<key>Agreements</key>
		<string>http://cup.ozner.net/app/cn/mzsm.html</string>
		<key>HeadWeiXinUrl</key>
		<string>http://www.oznerwater.com/lktnew/wap/mall/mallHomePage.aspx</string>
	</dict>
</dict>
</plist>
