<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RootAddress</key>
	<string>http://app.ozner.net:888/</string>
	<key>SubAddress</key>
	<dict>
		<key>GetPhoneCode</key>
		<string>OznerServer/GetPhoneCode</string>
		<key>Login</key>
		<string>OznerServer/Login</string>
		<key>MailLogin</key>
		<string>OznerServer/MailLogin</string>
		<key>AddDevice</key>
		<string>OznerServer/AddDevice</string>
		<key>GetDeviceList</key>
		<string>OznerServer/GetDeviceList</string>
		<key>UpdateDevice</key>
		<string>OznerServer/UpdateDevice</string>
		<key>DeleteDevice</key>
		<string>OznerServer/DeleteDevice</string>
		<key>VolumeSensor</key>
		<string>OznerDevice/VolumeSensor</string>
		<key>TDSSensor</key>
		<string>OznerDevice/TDSSensor</string>
		<key>FilterService</key>
		<string>OznerDevice/FilterService</string>
		<key>GetWeather</key>
		<string>OznerServer/GetWeather</string>
		<key>GetUserInfo</key>
		<string>OznerServer/GetUserInfo</string>
		<key>UpdateUserInfo</key>
		<string>OznerServer/UpdateUserInfo</string>
		<key>GetUserNickImage</key>
		<string>OznerServer/GetUserNickImage</string>
		<key>GetVoicePhoneCode</key>
		<string>OznerServer/GetVoicePhoneCode</string>
		<key>BaiduPush</key>
		<string>OznerServer/BaiduPush</string>
		<key>SubmitOpinion</key>
		<string>OznerServer/SubmitOpinion</string>
		<key>SearchFriend</key>
		<string>OznerServer/SearchFriend</string>
		<key>AddFriend</key>
		<string>OznerServer/AddFriend</string>
		<key>GetUserVerifMessage</key>
		<string>OznerServer/GetUserVerifMessage</string>
		<key>AcceptUserVerif</key>
		<string>OznerServer/AcceptUserVerif</string>
		<key>GetFriendList</key>
		<string>OznerServer/GetFriendList</string>
		<key>VolumeFriendRank</key>
		<string>OznerDevice/VolumeFriendRank</string>
		<key>LikeOtherUser</key>
		<string>OznerDevice/LikeOtherUser</string>
		<key>GetRankNotify</key>
		<string>OznerDevice/GetRankNotify</string>
		<key>TdsFriendRank</key>
		<string>OznerDevice/TdsFriendRank</string>
		<key>GetHistoryMessage</key>
		<string>OznerDevice/GetHistoryMessage</string>
		<key>LeaveMessage</key>
		<string>OznerDevice/LeaveMessage</string>
		<key>WhoLikeMe</key>
		<string>OznerDevice/WhoLikeMe</string>
		<key>GetDeviceTdsFenBu</key>
		<string>OznerServer/GetDeviceTdsFenBu</string>
		<key>GetMachineLifeOutTime</key>
		<string>OznerDevice/GetMachineLifeOutTime</string>
		<key>GetMachineType</key>
		<string>OznerServer/GetMachineType</string>
		<key>UpdateBuShuiYiNumber</key>
		<string>/OznerDevice/UpdateBuShuiYiNumber</string>
		<key>GetBuShuiFenBu</key>
		<string>/OznerServer/GetBuShuiFenBu</string>
		<key>GetTimesCountBuShui</key>
		<string>/OznerDevice/GetTimesCountBuShui</string>
		<key>RenewFilterTime</key>
		<string>/OznerDevice/RenewFilterTime</string>
	</dict>
	<key>TokenFailed</key>
	<string>-10006</string>
	<key>ErrorCode</key>
	<dict>
		<key>-10019</key>
		<string>二维码无效</string>
		<key>-10020</key>
		<string>二维码已经使用过了</string>
		<key>-10021</key>
		<string>设备未绑定</string>
	</dict>
	<key>URL</key>
	<dict>
		<key>UrlRoot</key>
		<string>http://www.oznerwater.com/lktnew/wap/app/Oauth2.aspx</string>
		<key>Agreements</key>
		<string>http://cup.ozner.net/app/cn/mzsm.html</string>
		<key>WebStore</key>
		<string>http://www.oznerwater.com/lktnew/wap/mall/mallHomePage.aspx</string>
		<key>MyCoffers</key>
		<string>http://www.oznerwater.com/lktnew/wapnew/Member/MyCoffers.aspx</string>
		<key>OrderList</key>
		<string>http://www.oznerwater.com/lktnew/wapnew/Orders/OrderList.aspx</string>
		<key>GrapRedPackages</key>
		<string>http://www.oznerwater.com/lktnew/wapnew/Member/GrapRedPackages.aspx</string>
		<key>AwardList</key>
		<string>http://www.oznerwater.com/lktnew/wapnew/Member/AwardList.aspx</string>
		<key>erweima</key>
		<string>http://erweima.ozner.net:85/index.aspx?tel=</string>
		<key>jxszd</key>
		<string>http://cup.ozner.net/app/cn/jxszd.html</string>
		<key>goodsDetail39</key>
		<string>http://www.oznerwater.com/lktnew/wap/mall/goodsDetail.aspx?gid=39</string>
		<key>goodsDetail64_1</key>
		<string>http://www.oznerwater.com/lktnew/wap/mall/goodsDetail.aspx?gid=64&amp;il=1</string>
		<key>goodsDetail36</key>
		<string>http://www.oznerwater.com/lktnew/wap/mall/goodsDetail.aspx?gid=36</string>
		<key>goodsDetail43</key>
		<string>http://www.oznerwater.com/lktnew/wap/mall/goodsDetail.aspx?gid=43</string>
		<key>goodsDetail7</key>
		<string>http://www.oznerwater.com/lktnew/wap/mall/goodsDetail.aspx?gid=7</string>
		<key>goodsDetail9</key>
		<string>http://www.oznerwater.com/lktnew/wap/mall/goodsDetail.aspx?gid=9</string>
		<key>goodsDetail68</key>
		<string>http://www.oznerwater.com/lktnew/wap/mall/goodsDetail.aspx?gid=68</string>
		<key>goodsDetail69</key>
		<string>http://www.oznerwater.com/lktnew/wap/mall/goodsDetail.aspx?gid=69</string>
		<key>AboutWaterReplenish</key>
		<string>http://app.ozner.net:888//Public/Index</string>
		<key>AboutCup</key>
		<string>http://cup.ozner.net/app/gyznb/gyznb.html</string>
		<key>AboutWaterPurifer</key>
		<string>http://cup.ozner.net/app/gyysj/gyysj.html</string>
		<key>AboutTap</key>
		<string>http://cup.ozner.net/app/gystt/gystt.html</string>
		<key>AboutTDSPan</key>
		<string>http://cup.ozner.net/app/gystt/gystt.html</string>
		<key>ShareToWeiXinUrl</key>
		<string>http://www.oznerwater.com/lktnew/wap/wxoauth.aspx?gourl=http://www.oznerwater.com/lktnew/wap/Member/InvitedMemberBrand.aspx</string>
		<key>buyEssenceWater</key>
		<string>http://www.baidu.com</string>
	</dict>
</dict>
</plist>
